<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      出席入力
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="abs">
      <ion-label>欠席</ion-label>
    </ion-segment-button>
    <ion-segment-button value="beh">
      <ion-label>遅刻</ion-label>
    </ion-segment-button>
    <ion-segment-button value="att">
      <ion-label>出席</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-button id="dec" expand ="block" color="light">決定</ion-button>
</ion-content>
