<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      提出物管理
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="abs">
      <ion-label>再提出</ion-label>
    </ion-segment-button>
    <ion-segment-button value="beh">
      <ion-label>未提出</ion-label>
    </ion-segment-button>
    <ion-segment-button value="att">
      <ion-label>提出</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-button id="dec" expand ="block" color="light">決定</ion-button>
</ion-content>
